.title {
  display: flex;
  color: aqua;
  border: 3px solid black;
  font-size: 25px;
  margin-bottom: 25px;
  height: 2vh;
  width: 30vw;
}

.description {
  display: flex;
  color: aqua;
  border: 3px solid black;
  font-size: 25px;
  margin-bottom: 15px;
  height: 20vh;
  width: 60vw;
}

.price {
  display: flex;
  color: aqua;
  border: 3px solid black;
  font-size: 25px;
  margin-bottom: 10px;
  width: 20vw;
}

.location {
  display: flex;
  color: aqua;
  border: 3px solid black;
  font-size: 25px;
  margin-bottom: 50px;
  width: 20vw;
}

.deliver {
  display: flex;
  text-align: center;
}

.willDeliver {
  display: flex;
  font-size: 25px;
}

.submit {
  display: inline-flex;
  height: 50px;
  padding: 0;
  background: rgb(235, 78, 235);
  border: 3px solid blue;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: "Times New Roman", Times, serif;
  margin-top: 2vh;
  font-size: 4vh;
  font-weight: 500;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.submit:hover {
  background: rgb(180, 20, 180);
}

.submit:active {
  background: purple;
}
