.MessageButton:target {
  background-color: green;
}

.MessageButton {
  background-color: grey;
}

.MessageButton:hover {
  background-color: lightblue;
}

.MessageBox {
  display: flex;
  float: right;
}
.MessageButton {
  display: flex;
  float: right;
}
