.messageBoard:nth-child(odd) {
  background-color: aquamarine;
}
.messageBoard:nth-child(even) {
  background-color: aqua;
}

.messageBoard {
  margin-bottom: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
  border: 3px yellow solid;
  color: blueviolet;
}
